{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
<section class=container my-3">
        <div class=row">
            <div class="col">
                <form method="post">
                    {% for message in app.flashes('message') %}
                        <div class="alert alert-success" role="alert">
                        {{ message }}
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning" role="alert">
                        {{ message }}
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger" role="alert">
                        {{ message }}
                    {% endfor %}
                    <h1>Réinitialisation du mot de passe</h1>
                    <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                    <form method="post">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
                        <input type="hidden" name="token" value="{{ token }}">
                        <button type="submit" id="valider">
                            Valider le mot de passe
                        </button>   
                    </form>
            </div>
        </div>
    </section>
{% endblock %}
