/*logo*/
.img-fluid-header{
    width: 8%;
    height: 20%;
}

.img-fluid-footer{
    width: 50%;
}

.navbar-collapse collapse show {
    right: 0%;
}

.titre-base {
    text-align: center;
}

.titre-base-date {
    text-align: center;
    color: #6610f2;
}

.date-hotel {
    color: red;
}

.block-connexion-inscription {
    right: inherit;
}

.escrime-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}