<footer class="footer fixed-bottom bg-primary">
    {% block footer %}
        <div class="row">
            <div class="col-4 text-left txt-footer">
                <a href="#" class="text-white">Contact</a><br>
                <a href="https://bts-sio.lyc-bonaparte.fr/" target="_blank" class="text-white">Congrès d'escrime</a>
            </div>
            <div class="col-4 text-center">
                <img class="img-fluid-footer" src="{{ asset('assets/images/mdlBanniere.jpg') }}">
            </div>
            <div class="col-4 text-right txt-footer">
                <a href="#" class="text-white">Mentions légales</a><br>
                <a href="#" class="text-white">Plan du site</a>
            </div>
        </div>
    {% endblock %}
</footer>