<h1>Activation de votre compte Maison Des Ligues</p>
<p>Vous avez créé un compte sur notre site "Maison Des Ligues", veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>
